/* -----------global------------------ */
body {
    margin: 0;
    padding: 0;
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.clear-fix {
    clear: both;
}

.container {
    width: 80%;
    margin: auto;
}


img {
    vertical-align: middle;
}

/* ------------nav-bar------------ */
.background {
    height: 100vh;
    background-image: url(./images/drew-coffman-1872.jpg);
    background-position: center;
    background-size: cover;

}

.backlight {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
}

.nav {
    padding-top: 30px;
}

.logo {
    /* background-color: teal; */
    width: 40%;
    float: left;
}

.links {
    /* background-color: tomato; */
    width: 50%;
    float: left;
    text-align: right;
}

.logo img {
    width: 30%;
}

.style {
    list-style: none;
}

.style li {
    display: inline-block;
    margin-right: 20px;
    font-weight: 400;
    font-size: 20px;
}

.style li .link_style {
    text-decoration: none;
    color: white;
}

/* ---------------home-------------------- */
#Home .content {
    /* background-color: tan; */
    text-align: center;
    margin-top: 70px;
    padding-top: 50px;
    color: #fff;
}

.content h1 {
    /* background-color: cadetblue; */
    font-size: 60px;
    font-weight: bold;
    line-height: 100px;
    font-family: "Alegreya", serif;
}

.content button {
    margin-top: 30px;
    padding: 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: solid 3px;
    color: white;
}

.content button.left {
    background-color: rgb(142, 119, 84);
    border-color: rgb(142, 119, 84);
    margin-right: 10px;
}

.content button.right {
    background-color: transparent;
    border-color: #fff;
}

.content .scroll {
    width: 30px;
    height: 50px;
    /*background-color: tan;
    */
    display: inline-block;
    margin-top: 80px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border: solid 2px;
    border-color: white;
}

/* ----------------how-are-you----------------- */
.how-are-you {
    /* background-color: aliceblue; */
    padding: 20px;
}

.how-are-you .contant .example {
    width: 45%;
    float: left;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

.how-are-you .contant .example img {
    width: 70%;
}

.how-are-you .contant .item {
    width: 45%;
    float: right;
}

.how-are-you .contant .item ul {
    list-style: none;
}

.how-are-you .contant .item img {
    width: 40px;
    background-color: #ffffff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right: 20px;
    border: solid 1px rgb(82, 78, 78);
}

.how-are-you .contant .item li {
    margin-block: 20px;
}

/* ---------------our-location---------------- */
.location {
    /* background-color: teal; */
    padding: 20px;
}

.location .contant {
    width: 50%;
    float: left;
}

.location .contant h2,
.location .contant p {
    margin-left: 60px;
}

.location .contant p {
    font-size: 20px;
}

.location .describe {
    width: 50%;
    float: right;
    text-align: center;
}

.location .describe img {
    width: 70%;
}


/* ----------------our-baking------------------ */
.Our-baking {
    /* background-color: teal; */
    height: 100vh;
    overflow: hidden;
}

.Our-baking .container {
    /* background-color: tomato; */
    overflow: hidden;
    margin-top: 100px;
}

.Our-baking .container .item {
    /* background-color: greenyellow; */
    display: inline-block;
    width: 30%;
    margin-right: 30px;
}

.center {
    text-align: center;
}

.Our-baking .container .item img {
    width: 100%;
    background-color: black;
}

#H {
    margin-top: 60px;
}

#parg {
    color: rgb(140, 142, 136);
}

.Our-baking .container .item p {
    color: rgb(104, 104, 124);
}

.space {
    height: 40px;
}

/* -------------------------contact-info-------------------------- */
#contact {
    background-color: rgb(248, 248, 248);
    padding: 20px;
}

/* #contact .container {
    background-color: brown;
} */

#contact .container .content {
    /* background-color: teal; */
    float: left;
    width: 50%;
}

#contact .container .content ul {
    list-style: none;
}

#contact .container .content img {
    width: 35px;
    background-color: rgb(142, 119, 84);
    margin-right: 15px;
    border-radius: 50%;
    border: solid 1px transparent;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

#contact .content li {
    margin-block: 20px;
}

#contact .container .content h3 {
    font-size: 20px;
    margin: 20px;
    padding: 20px;
}

#contact .container .content p {
    margin: 40px;
}

#contact .container .map {
    /* background-color: rgb(30, 0, 128); */
    float: left;
    width: 50%;
}

#contact .container .map img {
    width: 100%;
}


/* -----------------------footer---------------------------- */

.Footer {
    background-color: #403D38;
    padding: 20px;
}

.Footer .about,
.Footer .special,
.Footer .hours,
.Footer .ditails {
    /* display: inline-block; */
    float: left;
    width: 25%;
    /* vertical-align: top; */

}

.Footer .about p {
    padding: 20px;
    margin: 10px;
    font-weight: 300;
    /* font-size: 20px; */
}

.Footer h3 {
    /* text-align: center; */
    margin-left: 20px;
}

.Footer ul {
    list-style: none;
}

.arrow {
    border: solid 1px;
    /* display: inline-block; */
    float: left;
    width: 10px;
    height: 10px;
    margin-right: 15px;
    rotate: 45deg;
    vertical-align: middle;
    border-bottom: transparent;
    border-left: transparent;
}

.Footer ul li {
    border-bottom: solid 2px rgba(41, 38, 33, 0.185);
    margin-bottom: 10px;
    margin-block: 20px;
    padding-bottom: 20px;
}

/* --------------------------copy-right----------------------------------- */

.copy-right {
    background-color: rgb(53, 51, 48);
    overflow: hidden;
}

.copy-right .contant {
    /* background-color: antiquewhite; */
    padding: 20px;
    margin: 20px;
    text-align: center;
}

.copy-right .contant p {
    padding-block: 20px;
}

.copy-right .contant a img {
    width: 50px;
    background-color: rgb(72, 69, 64);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}